<html>
<body>
    <h3>Iris Species Classification</h3>
<div>
  <form action="/predict" method="POST">
    <label for="Age">Age</label>
    <input type="number" step="0.01" id="Age" name="Age">
    <br>
    <label for="Gender">Gender</label>
    <input type="number" step="0.01" id="Gender" name="Gender">
    <br>
    <label for="Education">Education</label>
    <input type="number" step="0.01" id="Education" name="Education">
    <br>
    <label for="Country">Country</label>
    <input type="number" step="0.01" id="Country" name="Country">
    <br>
    <label for="Ethnicity">Ethnicity</label>
    <input type="number" step="0.01" id="Ethnicity" name="Ethnicity">
    <br>
    <label for="Nscore">Nscore</label>
    <input type="number" step="0.01" id="Nscore" name="Nscore">
    <br>
    <label for="Escore">Escore</label>
    <input type="number" step="0.01" id="Escore" name="Escore">
    <br>
    <label for="Oscore">Oscore</label>
    <input type="number" step="0.01" id="Oscore" name="Oscore">
    <br>
    <label for="Ascore">Ascore</label>
    <input type="number" step="0.01" id="Ascore" name="Ascore">
    <br>
    <label for="Cscore">Cscore</label>
    <input type="number" step="0.01" id="Cscore" name="Cscore">
    <br>
    <label for="Impulsive">Impulsive</label>
    <input type="number" step="0.01" id="Impulsive" name="Impulsive">
    <br>
    <label for="SS">SS</label>
    <input type="number" step="0.01" id="SS" name="SS">
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>